// Basic Bootstrap import
@import "bootstrap/scss/bootstrap";

// Basic styles to test
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  background-color: #28a745 !important;
}
